.container-perfil {
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.profile-title {
    margin-top: 30px;
}

.profile-title h1 {
    font-family: "Poppins";
    font-weight: 400;
    padding: 10px;
}

.information {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px 20px;
}

.information .dir form {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.information .esq {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 15px;
    margin-right: 20px;
}

.information .esq h2 {
    font-family: "Poppins";
    font-weight: 400;
}

.name-row {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}