.card-rows {
    width: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: row;
    gap: 40px;
}

.buttons-filter {
    width: 300px;
    height: 200px;
    border: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
}

.btnfilter {
    width: 100%;
    border-radius: 22px;
    font-family: "Poppins";
    border: 0;
    padding: 8px 12px;
    background-color: #fff;
    cursor: pointer;
    transition: all 0.2s;
    color: #000;
    font-size: 18px;
    box-shadow: 0 6px 4px -1px #bababa;
}

.btnfilter:hover {
    background-color: #01977E;
    color: #fff;
}

.btnselected {
    width: 100%;
    border-radius: 22px;
    font-family: "Poppins";
    border: 0;
    padding: 8px 12px;
    background-color: #01977E;
    cursor: pointer;
    transition: all 0.2s;
    color: #fff;
    font-size: 18px;
    box-shadow: 0 6px 4px -1px #bababa;
}

.form-add-cat {
    width: 80%;
    margin: 30px auto;
    height: 150px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    border: 0;
    border-radius: 28px;
    box-shadow: 0 6px 4px -1px #bababa;
}

.inputarea-home {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.inputarea-home input,
.inputarea-home textarea {
    padding: 8px 12px;
    font-family: "Poppins";
}

.inputarea-home label {
    margin-left: 5px;
    font-family: "Poppins";
    font-size: 16px;
}

.inputarea-home select {
    padding: 10px 12px;
}

.input-radio {
    display: flex;
    flex-direction: row;
    gap: 5px;
    justify-content: center;
    align-items: center;
}

.save-btn {
    font-family: "Poppins";
    font-size: 18px;
    padding: 8px 12px;
    border: 0;
    border-radius: 16px;
    background-color: #01977E;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    cursor: pointer;
    transition: all 0.2s;
}

.save-btn:hover {
    background-color: #fff;
    color: #01977E;
    border: 1px solid #01977E;
}

.save-btn img {
    width: 20px;
    height: 20px;
    margin-left: 10px;
}

.underline {
    height: 1px;
    border-radius: 18px;
    background-color: #bababa;
}

table {
    font-family: "Poppins";
    width: 90%;
}

table tbody tr td input{
    border: 0;
    text-align: center;
    font-family: "Poppins";
    font-size: 16px;
}

table tbody tr td select {
    font-family: "Poppins";
    font-size: 16px;
    border: 0;
}